:root {
    --primario: #b2b2f6;
}

/* GLOBALES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
   
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Times New Roman", serif;
    text-align: center; 
    background-color: #cbeaf4;
    height: 100%;
    margin: 0;
    padding: 0;
}

.introduccion {
    text-align: center;
    max-width: 80%;
    margin: 2rem auto;
}

/*  Tipografía  */
h1 {
    font-size: 3.8rem;
    color: #996b98;
    font-family: "Times New Roman", serif;
    text-align: center;
}


p {
    text-align: justify; 
    margin: 0 auto; 
    width: 80%; 
}


.seccion1 {
    text-align: center;
    margin: 2.5rem;
    margin-bottom: 5rem;
}

iframe {
    border: 5px solid #9981c9;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(246, 244, 250);
}

footer {
    display: flex;
    padding: 2.5rem;
    background-color: rgb(247, 180, 241);
    justify-content: center;
}


