<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <a href="/modelos" class="volver-btn">← Volver a Modelos</a>
    <div class="contenido-modelo">
    <title>{{ model.Titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesModelo.css')}}">
</head>
<body>
    <h1>{{ model.Titulo }}</h1>
    <p>{{ model.Descripcion }}</p>
    <img src="{{ model.urlImagen }}" alt="{{ model.Titulo }}" style="max-width: 600px;">
    <p><strong>Fuente:</strong> {{ model.referencia }}</p>
    <br>
</div>
</body>
</html>
